<% content_for :title do %>
  <%= "#{h @pdf_image.image_file_name} - " if @pdf_image.image_file_name -%>
<% end %>

<div id="image-content" class="grid_16">
	<div class="image-header-bar ">
		<% if !@pdf_image.image_file_name.nil? %><%= @pdf_image.image_file_name %><% end %>
	</div>

	<div id="image_pdf" class="grid_6">
		<%= link_to image_tag(@pdf_image.image(:large), :alt=>"PagePDF", :class=>"image_medium"), @pdf_image.image.url %>
	</div>
	
	<div id="image-info" class="grid_9">
		<div id="last_updated" class="float_right">
			<% if @last_updated.present? %>
				Last updated by <%= @last_updated.user.name unless @last_updated.user.nil? %> 
				on <%= @last_updated.created_at.strftime('%m/%d/%y at %I:%M%p') %>
				<% if @logs.count > 1 %>
					<br/><div id="log_show_more" class="float_right">show more</div><br/>
					<br/>
					<div id="info-logs" class="hidden">
						<% @logs.each do |log| %>
							<%= log.created_at.strftime('%m/%d/%y %I:%M%p') %> - 
							<%= log.log_action %>
							by <%= log.user.name unless log.user.nil? %>
							<br/>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>

		<% if @pdf_image.plan.present? %>
			<div class="image-head">Plan Info:</div>
			<div class="image-info-box indent">
				Location: <%= @pdf_image.plan.location.name if @pdf_image.plan.location.name.present? %><br/>
				Publication Type: <%= @pdf_image.plan.publication_type.name if @pdf_image.plan.publication_type.name.present? %><br/>
			</div>
			<br/>
			<div class="image-info-box indent">
				Publication Name: <%= @pdf_image.plan.pub_name if @pdf_image.plan.pub_name.present? %><br/>
				Section Name: <%= @pdf_image.plan.section_name if @pdf_image.plan.section_name.present? %><br/>
				Section Letter: <%= @pdf_image.section_letter if @pdf_image.section_letter.present? %><br/>
				Page: <%= @pdf_image.page if @pdf_image.page.to_i >= 0 %><br/>
				PubDate: <%= @pdf_image.pubdate.strftime('%m/%d/%Y') if @pdf_image.pubdate.present? %><br/>
			</div>
		<% end %>
		
		<br/>
		<br/>
		<div class="center">
			<% if admin? || edit? %>
				<%= button_to "Delete", pdf_image_path(@pdf_image), 
						:method => :delete, 
						:confirm => "Are you sure you want to delete PDF from archive?",
						:action => 'destroy',
						:class => 'submit medium float_right' %>
			<% end %>
			<%= button_to "Edit", edit_pdf_image_path(@pdf_image), :method => :get, :class => 'submit medium float_right' %>
		</div>
	</div>
</div>
