<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-center">
			<h2>Global Settings</h2>
		</div>
		<h6>These settings control site-wide settings...</h6>
	</div>

	<div class="page-content-body">
		<div id="edit-block" class="container">
			<%= form_for @settings, :url => site_setting_path do |form| %>
				<h4>
					Settings
				</h4>

				<div class="form-group">
					<label for="show_delete_button" class="col-form-label">Show Story Delete Button?</label>
					<%= form.check_box :show_delete_button, :class => '' %>
				</div>
				<div class="form-group">
					<label for="show_site_announcement" class="form-check-label">Show Announcement Text?</label>
					<%= form.check_box :show_site_announcement, class: "" %>
				</div>
				<div class="form-group">
					<label for="site_announcement" class="form-check-label">Announcement Text:</label>
					<div class="offset-1">
						<%= form.text_area :site_announcement, :class => 'full-width textarea_large' %>
					</div>
				</div>

				<div class="d-flex justify-content-end">
					<%= form.submit "Update", :class => 'btn btn-primary'%>
					<%= form.submit "Cancel", :name => 'cancel_button', :class => 'btn btn-primary'%>
				</div>
			<% end %>
		</div>
	</div>
</div>