<div class="page-content container">

	<div class="page-content-body">
		<h1>Login <span><small><i>(Using your Spark or Computer username/password)</i></small></span></h1>
		<hr/>

		<div class="row">
			<div class="col-6">
				<%= adauth_form do %>
					<div class="indent">
						<br/>
						<div class="form-group row">
							<label for="username" class="col-form-label">Username:</label>
							<div class="col">
								<%= text_field_tag :username, :class => 'col-5', :placeholder => "Username", :autofocus => true %>
							</div>
						</div>
						<div class="form-group row">
							<label for="password" class="col-form-label">Password:</label>
							<div class="col">
								<%= password_field_tag :password, :class => 'col-5', :placeholder => "Password" %>
							</div>
						</div>
						<%= submit_tag "Login", :class => 'submit btn btn-primary' %>
					</div>
				<% end %>
			</div>
			<div class="col-6">
				<div class="row">
					<% if @pdfs.present? %>
						<% @pdfs.each do |pdf| %>
							<div class="col-2">
								<div class="text-center">
									<%= image_tag(pdf.image(:large), :alt=>"PagePDF", :class=>"image_small") %>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
