<tr>
  <td class="headline headline_col align-middle"><%= link_to text_for_story_link(story_fragment), story_fragment %>
    <% if story_fragment.copy && story_fragment.copy.length > 0 %>
			<%= strip_subhead_tags(story_fragment.copy)[0..250].html_safe %>
		<% else %>
			<% if story_fragment.sidebar_body and (story_fragment.sidebar_body =~ /<table/).nil? %>
				<!--Do not display if <table> tags exist-->
				<%= strip_subhead_tags(story_fragment.sidebar_body)[0..250].html_safe %>
			<% end %>
		<% end %>
  </td>
  <td class="byline_col text-center align-middle"><%= story_fragment.byline if story_fragment.byline %></td>
  <td class="section_col text-center align-middle d-none d-sm-table-cell">
		<% if story_fragment.plan.present? %>
			<% if story_fragment.plan.pub_name.present? and story_fragment.plan.pub_name.strip == "The Bulletin" %>
				<%= image_tag('/images/bulletin.jpg', :alt=>"bulletin", :class=>"image_thumb") %>
			<% else %>
				<% if story_fragment.plan.pub_name.present? and story_fragment.plan.pub_name.strip == "Redmond Spokesman" %>
					<%= image_tag('/images/spokesman.jpg', :alt=>"spokesman", :class=>"image_thumb") %>
				<% else %>
					<%= story_fragment.plan.pub_name %>
				<% end %>
			<% end %>
			<br/>
		<% end %>
		<% if story_fragment.plan.present? %>
			<%= story_fragment.plan.section_name %>
			<%= " - " if !story_fragment.plan.section_name.nil? and story_fragment.plan.section_name.length > 0 and story_fragment.page.to_i > 0 %>
			<%= "p." + story_fragment.page if story_fragment.page.to_i > 0 %>
		<% end %>
	</td>
  <td class="pubdate_col text-center align-middle">
		<% if !story_fragment.pubdate.nil? %><%= story_fragment.pubdate.strftime('%m/%d/%y') %><% end %>
	</td>
	<td class="system_col text-center align-middle d-none d-lg-table-cell">
		<% if story_fragment.frontend_db == "DTI" %>
			<%= image_tag('/images/dti_logo.jpg', :alt=>"FrontEndDB", :class=>"image_thumb") %>
		<% else %>
			<% if story_fragment.frontend_db == "SII" %>
				<%= image_tag('/images/sii_logo.jpg', :alt=>"FrontEndDB", :class=>"image_thumb") %>
			<% else %>
				<% if story_fragment.frontend_db == "DTI Cloud" %>
					<%= image_tag('/images/newscycle_logo.jpg', :alt=>"FrontEndDB", :class=>"image_thumb") %>
				<% end %>
			<% end %>
		<% end %>
	</td>
	<td class="images_col text-center align-middle  d-none d-md-table-cell">
		<% if story_fragment.story_images.present? %>
			Images Attached
		<% end %>
	</td>
	<% if story_fragment.approved %>
		<td class="true status_col text-center align-middle d-none d-lg-table-cell">Approved</td>
	<% else %>
		<td class="false status_col text-center align-middle d-none d-lg-table-cell">Needs Review</td>
	<% end %>
	<% if admin? and @settings.show_delete_button %>
		<td class="action_col text-center align-middle d-none d-lg-table-cell">
			<%= button_to "Delete", story_path(story_fragment), 
										:method => :delete, 
										:confirm => "Are you sure you want to delete story?",
										:action => 'destroy' %>
		</td>
	<% end %>
</tr>
