<%= content_for :title do %>
  <%= "#{params[:search_query]} - " if params[:search_query] -%>
<% end %>

<div class="page-content">
	<div class="search-header">
		Archive Search Form (<%= number_with_delimiter(@total_stories_count, :delimiter => ',') %> archived stories)
	</div>

	<div class="story-search">        
		<%= render :partial => 'search/search_stories' %>
	</div>

	<div class="inner-box clearfix">
		<div id="story-block" class="full_width">
			<% if @stories %>
				<div id="table-block" class="full_width">
					<div id="table-paginate" class="full_width">
						Search Results: <%= number_with_delimiter(@stories.results.total_pages * @stories.results.count, :delimiter => ',') %>
						<div class="float_right"><%= will_paginate @stories.hits %></div>
					</div>
					<% unless @stories.nil? %>
						<table cellspacing="0" cellpadding="0">
							<tbody>
								<tr class="header">
									<td class="headline_col">Headline</td>
									<td class="byline_col">Byline</td>
									<td class="section_col center">Section</td>
									<td class="pubdate_col center">PubDate</td>
									<td class="system_col center">System</td>
									<td class="image_col center">Images?</td>
									<td class="status_col center">Status</td>
									<% if admin? and @settings.show_delete_button %>
										<td class="action_col center">Action</td>
									<% end %>
								</tr>
								<%= render :partial => 'story_fragment', :collection => @stories.results %>
							</tbody>
						</table>
					<% end %>
					<div id="table-paginate" class="full_width">
						<div class="float_right"><%= will_paginate @stories.hits %></div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
