<%= content_for :title do %>
  <%= "#{params[:search_query]} - " if params[:search_query] -%>
<% end %>

<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-end">
			<h2>Search Stories</h2>
			<div class="search-header">
				Archive Search Form (<%= number_with_delimiter(@total_stories_count, :delimiter => ',') %> archived stories)
			</div>
		</div>
	</div>

	<div class="page-content-search story-search">        
		<%= render :partial => 'search/search_stories' %>
	</div>

	<div class="page-content-body">
		<% if @stories %>
			<div class="search-pagination d-flex justify-content-between align-items-end">
				<div class="search-result-totals">
					Search Results: <%= number_with_delimiter(@stories.results.total_pages * @stories.results.count, :delimiter => ',') %>
				</div>
				<div class="flickr_pagination d-none d-sm-block">
					<%= will_paginate @stories.results, :inner_window => 2, :outer_window => 0 %>
				</div>
				<div class="flickr_pagination d-block d-sm-none">
					<%= will_paginate @stories.results, :inner_window => 2, :outer_window => 0, :page_links => false %>
				</div>
			</div>
			<% unless @stories.nil? %>
			<table id="stories" class="table table-hover table-condensed table-striped table-sm">
				<thead class="thead-light">
					<tr>
						<th class="text-center">Headline</th>
						<th class="text-center">Byline</th>
						<th class="text-center d-none d-sm-table-cell">Section</th>
						<th class="text-center">PubDate</th>
						<th class="text-center d-none d-lg-table-cell">System</th>
						<th class="text-center d-none d-md-table-cell">Images?</th>
						<th class="text-center d-none d-lg-table-cell">Status</th>
						<% if admin? and @settings.show_delete_button %>
							<th class="text-center d-none d-lg-table-cell">Action</th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<%= render :partial => 'story_fragment', :collection => @stories.results %>
				</tbody>
			</table>
			<% end %>
			<div class="search-pagination d-flex justify-content-between align-items-end">
				<div class="search-result-totals">
					Search Results: <%= number_with_delimiter(@stories.results.total_pages * @stories.results.count, :delimiter => ',') %>
				</div>
				<div class="flickr_pagination d-none d-sm-block float-right">
					<%= will_paginate @stories.results, :inner_window => 2, :outer_window => 0 %>
				</div>
				<div class="flickr_pagination d-block d-sm-none">
					<%= will_paginate @stories.results, :inner_window => 2, :outer_window => 0, :page_links => false %>
				</div>
			</div>
		<% end %>
	</div>
</div>
