<%= content_for :title do %>
  <%= "#{params[:search_query]} - " if params[:search_query] -%>
<% end %>
<h1>Search</h1>
<h2>Archive Search Form2</h2>

<div class="inner-box clearfix">

  <div id="form-block" class="grid_15">
		<div id="search_block" class="grid_10">
	    <%= form_tag search_path , :method => :get do %>
	      <%= label_tag :search_query, "Search" %>
	      <span id="search_input_field">
	        <%= text_field_tag :search_query, params[:search_query] %>
	        <%= submit_tag "Search", :class => 'submit'%>
	      </span>
	      <span><p>Advanced Options  (<a href="#" class="toggle_hide">Show/Hide</a>)</p></span>
	      <div id="advanced-search">
	        <%= label_tag :date_from_select, "From" %>
	        <%= text_field_tag :date_from_select, params[:date_from_select], :class => 'short_date_picker' %>
	        <%= label_tag :date_to_select, "To" %>
	        <%= text_field_tag :date_to_select, params[:date_to_select], :class => 'short_date_picker' %>
	      </div>
	    <% end %>
		</div>
		
		<div id="sidebar" class="grid_3">
		  <%= render(:partial => 'sidebar') %>
		</div>
  </div>
	
  <% if @stories %>
    <div id="table-block" class="grid_15">
			<div id="table-paginate" class="full_width">
      	Results: <%= @stories.results.total_pages * @stories.results.count %>
      	<div class="float_right"><%= will_paginate @stories.hits %></div>
			</div>
      <% unless @stories.nil? %>
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr class="header">
              <td>Headline</td>
              <td>Byline</td>
              <td>Section</td>
              <td>Score</td>
              <td>Page Date</td>
              <td>Status</td>
              <td>Actions</td>
            </tr>
            <%= render :partial => 'story_fragment', :collection => @stories.results %>
          </tbody>
        </table>
      <% end %>
			<div id="table-paginate" class="full_width">
      	<div class="float_right"><%= will_paginate @stories.hits %></div>
			</div>
    </div>
  <% end %>
</div>
