<%= content_for :title do %>
  <%= "#{params[:search_query]} - " if params[:search_query] -%>
<% end %>

<div id="todays-stories" class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-end">
			<h2>Today's Stories</h2>
		</div>
	</div>

	<div class="page-content-search story-search">        
		<%= form_tag search_today_path, :class => "form-inline", :method => :get do %>
			<div class="d-flex flex-end align-items-center">
				<div class="input-group form-search-date-col">
					<%= text_field_tag :paperdate, params[:paperdate], 
						:class => "datepicker text-center", 
						:placeholder => "mm/dd/yyyy" %>
				    <div class="input-group-append">
						<i class='fa fa-calendar input-group-text'></i>
				    </div>
				</div>
				<div class="form-search-select-col">
					<% if @publication %>
						<%= select_tag 'papername', options_from_collection_for_select(@publications, 'pub_name', 'pub_name', 
										selected = @publication.pub_name), {:class => "form-search-select-today", :prompt => "- Publication -"} %>
					<% else %>
						<%= select_tag 'papername', options_from_collection_for_select(@publications, 'pub_name', 'pub_name'), 
										{:class => "form-search-select-today", :prompt => "- Publication -"} %>
					<% end %>
				</div>
				<div class="form-search-button-col">
				 	<button class="btn-secondary form-search-button" type="submit"><i class="fa fa-search"></i></button>
				</div>
			</div>
		<% end %>
	</div>

	<div class="page-content-body">
		<% if @stories %>
			<div class="search-pagination d-flex justify-content-between align-items-end">
				<div class="search-result-totals">
					Search Results: <%= number_with_delimiter(@stories.total_pages * @stories.count, :delimiter => ',') %>
				</div>
				<div class="flickr_pagination d-none d-sm-block">
					<%= will_paginate @stories, :inner_window => 2, :outer_window => 0 %>
				</div>
				<div class="flickr_pagination d-block d-sm-none">
					<%= will_paginate @stories, :inner_window => 2, :outer_window => 0, :page_links => false %>
				</div>
			</div>
			<% unless @stories.nil? %>
				<table id="stories" class="table table-hover table-condensed table-striped table-sm">
					<thead class="">
						<tr>
							<th class="">Headline</th>
							<th class="text-center">Byline</th>
							<th class="text-center d-none d-sm-table-cell">Section</th>
							<th class="text-center">PubDate</th>
							<th class="text-center d-none d-lg-table-cell">System</th>
							<th class="text-center d-none d-md-table-cell">Images?</th>
							<th class="text-center d-none d-lg-table-cell">Status</th>
							<% if admin? and @settings.show_delete_button %>
								<th class="text-center d-none d-lg-table-cell">Action</th>
							<% end %>
						</tr>
					</thead>
					<tbody>
						<%= render :partial => 'story_fragment', :collection => @stories %>
					</tbody>
			    </table>
			<% end %>
			<div class="search-pagination d-flex justify-content-between align-items-end">
				<div class="search-result-totals">
					Search Results: <%= number_with_delimiter(@stories.total_pages * @stories.count, :delimiter => ',') %>
				</div>
				<div class="flickr_pagination d-none d-sm-block float-right">
					<%= will_paginate @stories, :inner_window => 2, :outer_window => 0 %>
				</div>
				<div class="flickr_pagination d-block d-sm-none">
					<%= will_paginate @stories, :inner_window => 2, :outer_window => 0, :page_links => false %>
				</div>
			</div>
		<% end %>
	</div>

</div>