<div id="today-page">
  <%= render(:partial => "home/pagenav") %>
  <div id="page-content" class="clearfix">
		<h1>
			Today's Stories
		</h1>

		<h2 class="clearfix">
			<div id="filter_stories_block" class="full_width clear_fix">
				<%= form_tag search_today_path, :method => :get do %>
					<table cellspacing="0" cellpadding="0">
						<tbody>
							<td class="largest">
									<%= number_with_delimiter(@total_stories_count, :delimiter => ',') %> archived stories
							</td>
							<td class="small"></td>
							<td class="small"></td>
							<td class="float_right extra_small">Date:</td>
							<td class="smaller">
								<%= text_field_tag :paperdate, params[:paperdate], 
												:class => 'short_date_picker center', 
												:placeholder => "mm/dd/yyyy" %>
							</td>
							<td class="medium">
								<% if @publication %>
									<%= select_tag 'papername', options_from_collection_for_select(@publications, 'pub_name', 'pub_name', 
													selected = @publication.pub_name),
													{:prompt => "- Select Publication -", :class => 'today_publication float_right'} %>
								<% else %>
									<%= select_tag 'papername', options_from_collection_for_select(@publications, 'pub_name', 'pub_name'), 
													{:prompt => "- Select Publication -", :class => 'today_publication float_right'} %>
								<% end %>
							</td>
							<td class="smaller"><%= submit_tag "Search", :class => 'submit'%></td>
						</tbody>
					</table>
				<% end %>
			</div>
		</h2>

		<div class="inner-box clearfix">
		  <div id="form-block" class="grid_15">
			</div>
			<div id="story-block" class="full_width">
			  <div id="table-block">
					<div id="table-paginate" class="full_width">
		      	<div class="float_right"><%= will_paginate @stories %></div>
					</div>
			    <table cellspacing="0" cellpadding="0">
			      <tbody>
			        <tr class="header">
								<td class="headline_col">Headline</td>
								<td class="byline_col">Byline</td>
								<td class="section_col center">Section</td>
								<td class="pubdate_col center">PubDate</td>
								<td class="system_col center">System</td>
								<td class="image_col center">Images?</td>
								<% if admin? and @settings.show_delete_button %>
									<td class="action_col center">Action</td>
								<% end %>
			        </tr>
			        <%= render :partial => 'story_fragment', :collection => @stories %>
			      </tbody>
			    </table>
					<div id="table-paginate" class="full_width">
		      	<div class="float_right"><%= will_paginate @stories %></div>
					</div>
			  </div>
			</div>
		</div>
	</div>
</div>