<tr>
  <td><%= link_to table_row.email, user_path(table_row) %></td>
  <td><%= table_row.first_name %> <%= table_row.last_name %></td>	
  <td><%= table_row.created_at.strftime('%m/%d/%Y') %> at <%= table_row.created_at.strftime('%I:%M%p') %></td>
  <td><%= table_row.updated_at.strftime('%m/%d/%Y') %> at <%= table_row.updated_at.strftime('%I:%M%p') %></td>
</tr>
