<% if signed_in? -%>
	<div class="float_right">
		Logged in as <%= link_to current_user.name, edit_user_path(current_user) %>
		( <%= link_to "Log out", logout_path, { :title => "Log out" } %> )
	</div>
<% else -%>
	<div class="float_right"><%= link_to_login_with_IP 'Not logged in', :style => 'border: none;' %></div>
	<div class="float_right">
		<%= link_to "Log in",  login_path,  { :title => "Log in" } %> / <%= link_to "Sign up", signup_path, { :title => "Create an account" } %>
	</div>
<% end -%>
