<div id="users-page">
	<%= render(:partial => "home/pagenav") %>
	<div id="page-content" class="clearfix">
		<h1><%= @user.first_name %> <%= @user.last_name %></h1>

		<div class="inner-box clearfix">
		  <div id="form-block" class="grid_15">
				Username: <%= @user.email %><br/>
				First Name: <%= @user.first_name %><br/>
				Last Name: <%= @user.last_name %><br/>
				Created At: <%= @user.created_at.strftime('%m/%d/%Y %I:%M%p') %><br/>
				Updated At: <%= @user.updated_at.strftime('%m/%d/%Y %I:%M%p') %><br/>
				Role: <%= @user.role %><br/>
			</div>
		</div>
	</div>
</div>