<% if flash[:error] %>
	<p class="error"><%= flash[:error] %></p>
<% end %>
<% if flash[:alert] %>
	<p class="error"><%= flash[:alert] %></p>
<% end %>
<% if flash[:notice] %>
	<p class="error"><%= flash[:notice] %></p>
<% end %>

<% if target.errors.any? %>
	<div id="notice">
	  <h2><%= pluralize(target.errors.count, "error") %> prohibited this record from being saved:</h2>
		<div class="error">
		  <ul>
			  <% target.errors.full_messages.each do |msg| %>
			    <li><%= msg %></li>
			  <% end %>
		  </ul>
		</div>
	</div>
<% end %>
