<div id="page-navigation" class="clearfix">	
  <ul>
		<li class="search"><%= link_to "Search Stories", {:controller => 'search', :action => 'index',
														:location=>current_user.default_location_id, 
														:pub_type=>current_user.default_publication_type_id,
													 	:pub_select=>current_user.default_publication,
													 	:section_select=>current_user.default_section_name} %></li>
		<li class="today"><%= link_to "Today's Stories", search_today_url(:papername => "All") %></li>
		<li class="search-images"><%= link_to "Search Images", search_images_url(:location=>current_user.default_location_id, 
																		:pub_type=>current_user.default_publication_type_id,
																	 	:pub_select=>current_user.default_publication,
																	 	:section_select=>current_user.default_section_name) %></li>
		<li class="image-gallery"><%= link_to "Image Gallery", story_images_url() %></li>
		<li class="pdf-images"><%= link_to "PDF Pages", pdf_images_path(:location=>current_user.default_location_id, 
																		:pub_type=>current_user.default_publication_type_id,
																	 	:pub_select=>current_user.default_publication) %></li>
		<% if admin? or edit? %>
			<li class="admin"><a> Administration </a>
				<ul>
					<li class="locations"><%= link_to "Locations", locations_url %></li>
					<li class="publication_types"><%= link_to "Publications Types", publication_types_url %></li>
					<li class="plans"><%= link_to "Plans", plans_url %></li>
					<% if admin? %>
						<li class="users"><%= link_to "Users", users_url %></li>
						<li class="settings"><%= link_to "Site Settings", site_settings_url %></li>
					<% end %>
				</ul>
			</li>
		<% end %>


    <!--<li id="nav-search-box">
      <input type="text" name="searchField1" id="searchfield_1" class="shortsearch" /> 
      <input type="button" class="submit" value="Search" onclick="location.href='form_success.html';" />
    </li>-->
  </ul>
  <div id="login-box">
<!--    <span>Hello <%= current_user.first_name %> <%= current_user.last_name %></span>-->
    <span><%= render(:partial => "users/user_bar") %></span>
  </div>
</div>
