<div id="page-navigation" class="clearfix">	
  <ul>
    <li><%= link_to "Home", {:controller => 'home', :action => 'index'} %></li>
    <li><%= link_to "Today", search_today_url(:papername => "All") %></li>
  	<li><%= link_to "Search", {:controller => 'search', :action => 'index'} %></li>
		<li><%= link_to "Image Gallery", story_images_url %></li>
		<% if admin? %>
			<li><%= link_to "Users", users_url %></li>
		<% end %>
    <!--<li id="nav-search-box">
      <input type="text" name="searchField1" id="searchfield_1" class="shortsearch" /> 
      <input type="button" class="submit" value="Search" onclick="location.href='form_success.html';" />
    </li>-->
  </ul>
  <div id="login-box">
<!--    <span>Hello <%= current_user.first_name %> <%= current_user.last_name %></span>-->
    <span><%= render(:partial => "users/user_bar") %></span>
  </div>
</div>
