<div id="page-navigation" class="clearfix">	
  <ul>
		<li class="search"><%= link_to "Search Stories", {:controller => 'search', :action => 'index'} %></li>
		<li class="today"><%= link_to "Today's Stories", search_today_url(:papername => "All") %></li>
		<li class="search-images"><%= link_to "Search Images", search_images_url %></li>
		<li class="image-gallery"><%= link_to "Image Gallery", story_images_url %></li>
		<li class="pdf-images"><%= link_to "PDF Pages", pdf_images_url %></li>
		<% if admin? or edit? %>
			<li class="admin"><a> Administration </a>
				<ul>
					<li class="sections"><%= link_to "Sections", sections_url %></li>
					<li class="section_categories"><%= link_to "Section Categories", section_categories_url %></li>
					<% if admin? %>
						<li class="users"><%= link_to "Users", users_url %></li>
						<li class="settings"><%= link_to "Site Settings", site_settings_url %></li>
					<% end %>
				</ul>
			</li>
		<% end %>


    <!--<li id="nav-search-box">
      <input type="text" name="searchField1" id="searchfield_1" class="shortsearch" /> 
      <input type="button" class="submit" value="Search" onclick="location.href='form_success.html';" />
    </li>-->
  </ul>
  <div id="login-box">
<!--    <span>Hello <%= current_user.first_name %> <%= current_user.last_name %></span>-->
    <span><%= render(:partial => "users/user_bar") %></span>
  </div>
</div>
