<div id="sections-page">
	<div id="page-content" class="clearfix">
		<h1>
			Section: <%= @section.name %>
			<span class="float_right"><%= button_to "Delete Section", section_path(@section), 
										:method => :delete, 
										:confirm => "Are you sure you want to delete section?",
										:action => 'destroy' %></span>
		</h1>

		<div class="inner-box clearfix">
		  <div id="form-block" class="grid_15">
				<%= form_for @section, :url => section_path do |form| %>
					<% if admin? %>
						Name: <%= form.text_field :name, :class => "large" %>
					<% end %>
					Category: <%= form.select :section_category_id, @section_categories.collect { |c| [c.name, c.id] }, {}, :class => 'medium' %>
					<br/>
					<%= form.submit "Update", :class => 'submit small'%>
					<%= form.submit "Cancel", :name => 'cancel_button', :class => 'submit small'%>
				<% end %>
			</div>
		</div>
	</div>
</div>
