<div id="story-content" class="col-md-12 col-lg-8">
	<div class="form-group row">
		<label for="kicker" class="col-2 col-form-label">Kicker:</label>
		<div class="col-3">
			<%= form.text_field :kicker, class: "form-control" %>
		</div>
	</div>
	<div class="form-group row">
		<label for="hl1" class="col-2 col-form-label">Headline:</label>
		<div class="col">
			<%= form.text_field :hl1, class: "form-control" %>
		</div>
	</div>
	<div class="form-group row">
		<label for="hl2" class="col-2 col-form-label">SubHead:</label>
		<div class="col">
			<%= form.text_field :hl2, class: "form-control" %>
		</div>
	</div>
	<div class="form-group row">
		<label for="byline" class="col-2 col-form-label">Byline:</label>
		<div class="col">
			<%= form.text_field :byline, class: "form-control" %>
		</div>

		<label for="paper_id" class="col-2 col-form-label">Paper:</label>
		<div class="col">
			<%= form.select :paper_id, @papers.collect { |c| [c.name, c.id] }, {:include_blank => true} %>
		</div>
	</div>
	<div class="form-group row">
		<label for="copy" class="col-2 col-form-label">Body Copy:</label>
		<div class="col">
			<%= form.text_area :copy, class: "form-control textarea_large" %>
		</div>
	</div>
	<div class="form-group row">
		<label for="tagline" class="col-2 col-form-label">Tagline:</label>
		<div class="col">
			<%= form.text_field :tagline, class: "form-control" %>
		</div>
	</div>
	<div class="form-group row">
		<label for="sidebar_body" class="col-2 col-form-label">Toolbox:</label>
		<div class="col">
			<%= form.text_area :sidebar_body, class: "form-control textarea_small" %>
		</div>
	</div>
	<hr/>
	<div class="form-group row">
		<label for="web_hl1" class="col-2 col-form-label">Web Headline:</label>
		<div class="col">
			<%= form.text_field :web_hl1, class: "form-control" %>
		</div>
	</div>
	<div class="form-group row">
		<label for="web_hl2" class="col-2 col-form-label">Web SubHead:</label>
		<div class="col">
			<%= form.text_field :web_hl2, class: "form-control" %>
		</div>
	</div>
</div>

<div id="story-sidebar" class="col-md-12 col-lg">
	<h4>Story Info</h4>
	<hr/>
	<div class="form-group row">
		<label for="pubdate" class="col-3 col-form-label">PubDate:</label>
		<div class="col">
			<%= form.date_select(:pubdate, {:include_blank => true, :start_year => 1992, :end_year => Time.now.year+10,
				:use_month_numbers => true, :order => [:month, :day, :year]}, {:class => ""}) %>
		</div>
	</div>
	<div class="form-group row">
		<label for="section_id" class="col-4 col-form-label">Plan Section:</label>
		<div class="col">
			<%= form.select :section_id, @sections.collect { |c| [c.name, c.id] }, {}, :class => 'story_field small' %>
		</div>
	</div>
	<div class="form-group row">
		<label for="page" class="col-3 col-form-label">Page:</label>
		<div class="col">
		  	<%= form.text_field :page, :class => "story_field larger", 
										:type => "number", :min => "1", :max => "100" %>
		</div>
	</div>
	<div class="form-group row">
		<label for="project_group" class="col-3 col-form-label">Project Group:</label>
		<div class="col">
			<%= form.text_field :project_group, class: "form-control" %>
		</div>
	</div>
	<div class="form-group row">
		<label for="categoryname" class="col-4 col-form-label">Category:</label>
		<div class="col">
			<%= form.text_field :categoryname, class: "form-control" %>
		</div>
	</div>
	<div class="form-group row">
		<label for="subcategoryname" class="col-4 col-form-label">SubCategory:</label>
		<div class="col">
			<%= form.text_field :subcategoryname, class: "form-control" %>
		</div>
	</div>

</div>


