<div id="image-sidebar" class="row">
  <% if @story.story_images.published.length > 0 %>
    <h4 class="col-12">Published Images</h4>
    <% @story.story_images.published.each do |image| %>
      <div class="card text-center col-sm-4 col-md-3 col-lg-12">
        <%= link_to image_tag(image.image(:large), :alt=>"Story Image", :class=>"image_medium"), story_image_path(image.id) %>
        <div class="card-block">
          <div class="card-text">
            <% if !image.media_name.nil? %>
              <%= image.media_name %>
            <% end %>
            <% if image.priority == 'Web Ready' %>
              <br/>Published to Web 
            <% end %>
          </div>
        </div>
        <br/>
      </div>
    <% end %>
	<% end %>

	<% if @story.story_images.attached.length > 0 %>
		<h4 class="col-12">Attached Images</h4>
    <div class="row">
  		<% @story.story_images.attached.each do |image| %>
        <div class="card text-center col-sm-4 col-md-3 col-lg-12">
          <%= link_to image_tag(image.image(:large), :alt=>"Story Image", :class=>"image_medium"), story_image_path(image.id) %>
  				<div class="card-block">
            <div class="card-text">
              <% if !image.media_name.nil? %><%= image.media_name %><% end %>
            </div>
  				</div>
  			</div>
  		<% end %>
    </div>
	<% end %>

	<% if @pdf_image.present? and @story.plan.present? %>
			<h4 class="col-12">PDF Pages</h4>
			<div class="card text-center col">
        <%= link_to image_tag(@pdf_image.image(:large), :alt=>"Story Image", :class=>"image_medium"), 
  					pdf_images_path(:date_from_select=>@story.pubdate.strftime('%m/%d/%Y'), 
  													:date_to_select=>@story.pubdate.strftime('%m/%d/%Y'),
  													:publication=>@story.plan.pub_name) %>
			</div>
	<% end %>
</div>
