<h4>Story Info</h4>
<hr/>
<div id="story-info">
  Pubdate: <% if @story.pubdate %><%= @story.pubdate.strftime('%m/%d/%Y') unless @story.pubdate.nil? %><% end %><br />
  Section: <%= @story.plan.section_name if @story.plan %> <br />
  Page: <%= @story.page if @story.page %><br />
  Byline: <%= @story.byline %> <br />
  Publicaton: 
	<% if @story.plan %>
		<% if @story.plan.pub_name %>
			<% if @story.plan.pub_name.length < 8 %>
				<%= @story.plan.pub_name %>
			<% else %>
				 <br/><div class="indent"><%= @story.plan.pub_name %></div>
			<% end %>
		<% else %>
			<%= @story.plan.import_pub_name %>
		<% end %>
		<br/>
	<% end %>
	<br/>

	<% if @story.frontend_db == "DTI" %>
		<div class="story_frontend_logo">
			<%= image_tag('/images/dti_logo.jpg', :alt=>"FrontEndDB", :class=>"image_thumb") %>
		</div>
		StoryID: <%= @story.doc_id %> <br />
		Imported Filename: <%= @story.doc_name %> <br />
		Origin: <%= @story.origin %><br/>
		Category: <%= @story.categoryname %><br/>
		Subcategory: <%= @story.subcategoryname %><br/>
		<% if !@story.memo.nil? %>Memo: <%= @story.memo %><br/><% end %>
		<% if !@story.memo.nil? %>Notes: <%= @story.notes %><br/><% end %>
		Published to Web: <%= @story.web_published_at.strftime('%m/%d/%y %I:%M%p') unless @story.web_published_at.nil?  %><br/>
	<% else %>
		<% if @story.frontend_db == "DTI Cloud" %>
			<div class="story_frontend_logo">
				<%= image_tag('/images/newscycle_logo.jpg', :alt=>"FrontEndDB", :class=>"image_thumb") %>
			</div>
			StoryID: <%= @story.doc_id %> <br />
			Imported Filename: <%= @story.doc_name %> <br />
			Origin: <%= @story.origin %><br/>
			Category: <%= @story.categoryname %><br/>
			Subcategory: <%= @story.subcategoryname %><br/>
			<% if !@story.memo.nil? %>Memo: <%= @story.memo %><br/><% end %>
			<% if !@story.memo.nil? %>Notes: <%= @story.notes %><br/><% end %>
			Published to Web:  <%= @story.web_published_at.strftime('%m/%d/%y %I:%M%p') unless @story.web_published_at.nil? %><br/>
		<% else %>
			<% if @story.frontend_db == "SII" %>
				<div class="story_frontend_logo">
					<%= image_tag('/images/sii_logo.jpg', :alt=>"FrontEndDB", :class=>"image_thumb") %>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>

<% if @story.corrections.length > 0 %>
  <p class='story-infohead1'>Corrections</p>
  <div id="story-info">
    <% @story.corrections.each do |story| %>
      <%= link_to text_for_story_link(story), story %>
    <% end %>
  </div>
<% end %>

<% if @story.corrected_stories.length > 0 %>
  <p class='story-infohead1'>Corrected Stories</p>
  <div id="story-info">
    <% @story.corrected_stories.each do |story| %>
      <%= link_to text_for_story_link(story), story %>
    <% end %>
  </div>
<% end %>

<% if @story.keywords.count > 0 %>
	<p class='story-infohead2 taxonomy_head'>
		<% if @story.frontend_db == "DTI Cloud" %>
			Keywords: <a class="taxonomy_show">(show)</a>
		<% else %>
			Taxonomy:
		<% end %>
	</p>
	<div id="story-info">
		<div id='taxonomy'>
			<% @story.keywords.each do |keyword| %>
				<div class="indent"><%= keyword.text.downcase %></div>
			<% end %>
		</div>
	</div>
<% end %>

<% if !@related_stories.nil? && @related_stories.count > 1 %>
	<p class='story-infohead2'>Related Stories:</p>
	<div id="story-info">
		<% @related_stories.each do |related_story| %>
			<% if related_story.id != @story.id %>
				<%= link_to text_for_story_link(related_story), related_story %><br/>
			<% end %>
		<% end %>
	</div>
<% end %>

<% if admin? %>
  <div id="story-info">
		<hr/>
		Attached to PlanID: <%= link_to @story.plan.id, edit_plan_path(@story.plan) if @story.plan %><br/>
		<% if @story.plan %>
			Location: <%= @story.plan.location.name if @story.plan.location.present? %><br/>
			Pub_type: <%= @story.plan.publication_type.name if @story.plan.publication_type.present? %><br/>
			Publ: <%= @story.plan.pub_name %><br/>
			Sect: <%= @story.plan.section_name %><br/>
		<% end %>
	</div>
<% end %>
