<div id="story-sidebar">
  <p class='story-information'>Information</p>
  <div id="story-info">
    Pubdate: <%= @story.pubdate.strftime('%m/%d/%y') %><br />
    Section: <%= @story.section.name if @story.section %> <br />
    Page: <%= @story.page %><br />
    Byline: <%= @story.byline %> <br />
    Publicaton: <%= @story.publication.name if @story.publication %> <br />
		 <br />
		StoryID: <%= @story.doc_id %> <br />
		Imported File: <%= @story.doc_name %> <br />
  </div>

  <% if @story.corrections.length > 0 %>
    <p class='story-information'>Corrections</p>
    <div id="story-info">
      <% @story.corrections.each do |story| %>
        <%= link_to text_for_story_link(story), story %>
      <% end %>
    </div>
  <% end %>

  <% if @story.corrected_stories.length > 0 %>
    <p class='story-information'>Corrected Stories</p>
    <div id="story-info">
      <% @story.corrected_stories.each do |story| %>
        <%= link_to text_for_story_link(story), story %>
      <% end %>
    </div>
  <% end %>


  <p class='story-information'>Taxonomy:</p>
  <div id="story-info">
		<% @story.keywords.each do |keyword| %>
			<%= keyword.text.downcase %><br/>
		<% end %>
	</div>


	<% if !@related_stories.nil? && @related_stories.count > 1 %>
		<p class='story-information'>Related Stories:</p>
		<div id="story-info">
			<% @related_stories.each do |related_story| %>
				<% if related_story.id != @story.id %>
					<%= link_to text_for_story_link(related_story), related_story %><br/>
				<% end %>
			<% end %>
		</div>
	<% end %>

</div> <!-- end sidebar-->
