<% content_for :title do %>
  <%= "#{h @story.hl1} - " if @story.hl1 -%>
<% end %>

<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-center">
			<h2><%= @story.doc_id %> - <%= @story.doc_name %></h2>
		</div>
	</div>

	<div class="page-content-body">
		<div id="edit-block" class="container">
			<%= render :partial => 'shared/error_messages', :locals => { :target => @story } %>
			<%= form_for @story, :url => story_path do |form| %>
				<div class="row">
					<%= render :partial => 'form', :object => form %>
				</div>
				<br/>
				<div class="d-flex justify-content-end">
					<%= form.submit "Update", :class => 'btn btn-primary'%>
					<%= form.submit "Cancel", :name => 'cancel_button', :class => 'btn btn-primary'%>
				</div>
			<% end %>
		</div>
	</div>
</div>
