<% content_for :title do %>
  <%= "#{h @story.hl1} - " if @story.hl1 -%>
<% end %>

<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-center">
			<h2><%= @story.doc_id %> - <%= @story.doc_name %></h2>
			<div class="d-flex justify-content-end">
				<% if admin? || edit? %>
						<%= button_to "Edit", edit_story_path(@story), :method => "get", :class => 'btn btn-primary' %>
				<% end %>
					<% if session[:last_page] %>
						<%= button_to "Back", session[:last_page], :class => 'btn btn-primary' %>
					<% end %>
			</div>
		</div>
	</div>

	<div class="page-content-body">
		<div class="row">
			<%= render :partial => 'shared/error_messages', :locals => { :target => @story } %>
		
			<div class="col-9">
			    <% if @story.kicker and @story.kicker.length > 0 and @story.kicker != '<p></p>' %>
					<%= @story.kicker.html_safe %>
			    <% end %>
			    <% if @story.hl1 %>
			    	<h1><%= @story.hl1.html_safe %></h1>
				<% end %>
			</div>
			<div id="last_updated" class="col-3">
				<% if @last_updated.present? %>
					Last updated by <%= @last_updated.user.name unless @last_updated.user.nil? %> 
					on <%= @last_updated.created_at.strftime('%m/%d/%y at %I:%M%p') %>
					<% if @logs.count > 0 %>
						<br/><div id="log_show_more" class="float_right">show more</div><br/>
						<br/>
						<div id="info-logs" class="hidden">
							<% @logs.each do |log| %>
								<%= log.created_at.strftime('%m/%d/%y %I:%M%p') %> - 
								<%= log.log_action %>
								by <%= log.user.name unless log.user.nil? %>
								<br/>
							<% end %>
						</div>
					<% end %>
				<% end %>
				<div id="edit-block" class="row">
					<% if admin? || edit? %>
						<div class="">
							<% if @story.approved %>
								<p class='btn btn-outline-primary btn-sm'>Story Approved</p>
							<% else %>
								<%= button_to("Approve Story?", story_approve_path(@story.id), 
										{:onclick => "return confirm('Can you verify that this story and all attached assets are accurate?')",
											:method => :put, 
											:action => :approve,
											:remote => true,
											:class => 'btn btn-outline-primary btn-sm'}) %>
							<% end %>
						</div>
					<% end %>
					<% if admin? %>
						<div class="">
							<%= button_to("Import to DTI", story_import_to_DTI_path(@story.id), 
									{:onclick => "return confirm('Are you sure you want to import this story into DTI?')",
										:method => :put, 
										:action => :import_to_DTI,
										:remote => true,
										:class => 'btn btn-outline-primary btn-sm'}) %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<hr/>

		<div class="row">
			<div id="story-content" class="col-md-12 col-lg-9">
				<div>
				    <% if @story.hl2 %>
				      <h4><%= @story.hl2.html_safe %> </h4>
				    <% end %>
				    <% if @story.byline and @story.byline.length > 0 %>
						<h6>
							By: <%= @story.byline.html_safe %>
							<% if @story.paper %>, <%= @story.paper.name.html_safe if @story.paper.present? %> <% end %>
						</h6>
				    <% end %>
					<br/>
				</div>
				<div id="story_block">
				    <% if @story.copy %><%= @story.copy.html_safe %><% end %>
				    <% if @story.tagline and @story.tagline.length > 0 %>
				      <h3><%= @story.tagline.html_safe %></h3>
				    <% end %>
				    <% if @story.sidebar_body and @story.sidebar_body.length > 0 and @story.sidebar_body != '<p></p>' %>
							<div class="toolbox">
								<%= @story.sidebar_body.html_safe %>
							</div>
				    <% end %>
				    <% if @story.toolbox2 and @story.toolbox2.length > 0 and @story.toolbox2 != '<p></p>' %>
							<br/>
							<div class="toolbox">
								<%= @story.toolbox2.html_safe %>
							</div>
				    <% end %>
				    <% if @story.toolbox3 and @story.toolbox3.length > 0 and @story.toolbox3 != '<p></p>' %>
							<br/>
							<div class="toolbox">
								<%= @story.toolbox3.html_safe %>
							</div>
				    <% end %>
				    <% if @story.toolbox4 and @story.toolbox4.length > 0 and @story.toolbox4 != '<p></p>' %>
							<br/>
							<div class="toolbox">
								<%= @story.toolbox4.html_safe %>
							</div>
				    <% end %>
				    <% if @story.toolbox5 and @story.toolbox5.length > 0 and @story.toolbox5 != '<p></p>' %>
							<br/>
							<div class="toolbox">
								<%= @story.toolbox5.html_safe %>
							</div>
				    <% end %>
					<br/><br/>
				</div>
				<div id="web_story_block">
					<h4>Web Fields:</h4>
					<hr/>
				    <% if @story.web_hl1 and @story.web_hl1.length > 0 and @story.web_hl1 != '<p></p>'%>
							<div class="web_field_label">Web_Head:</div>
							<div class="web_field">
								<%= @story.web_hl1.html_safe %><br/>
							</div>
					<% end %>
				    <% if @story.web_hl2 and @story.web_hl2.length > 0 and @story.web_hl2 != '<p></p>'%>
							<div class="web_field_label">Web_Subhead:</div>
							<div class="web_field">
								<%= @story.web_hl2.html_safe %><br/>
							</div>
				    <% end %>
				    <% if @story.web_text and @story.web_text.length > 0 and @story.web_text != '<p></p>'%>
							<div class="web_field_label">Web_Text:</div>
							<div class="web_field">
								<%=  @story.web_text.html_safe %><br/>
							</div>
						<% end %>
				    <% if @story.htmltext and @story.htmltext.length > 0 and @story.htmltext != '<p></p>'%>
							<div class="web_field_label">HTML Text:</div>
							<div class="web_field">
								<%=  @story.htmltext %><br/>
							</div>
						<% end %>
				    <% if @story.web_summary and @story.web_summary.length > 0 and @story.web_summary != '<p></p>'%>
							<div class="web_field_label">Web_Summary:</div>
							<div class="web_field">
								<%= @story.web_summary.html_safe %><br/>
							</div>
						<% end %>
				    <% if @story.videourl and @story.videourl.length > 0 %>
								<div class="web_field_label">VideoURL:</div>
								<div class="web_field">
									<%= @story.videourl.html_safe %><br/>
								</div>
				    <% end %>
				    <% if @story.alternateurl and @story.alternateurl.length > 0 and @story.alternateurl != '<p></p>' %>
								<div class="web_field_label">AlternateURL:</div>
								<div class="web_field">
									<%= @story.alternateurl.html_safe %><br/>
								</div>
				    <% end %>
				    <% if @story.map and @story.map.length > 0 %>
								<div class="web_field_label">Map:</div>
								<div class="web_field">
									<%= @story.map.html_safe %><br/>
								</div>
				    <% end %>
				</div>
				<br/>
			</div>
			
			<div class="col-md-12 col-lg-3">
				<div id="sidebar" class="">
					<div id="info-block" class="">
						<div id="story-sidebar">
					    	<%= render(:partial => 'sidebar') %>
						</div>
						<br/>
						<div class="container">
							<%= render(:partial => 'image_sidebar') %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>