<% content_for :title do %>
  <%= "#{h @story.hl1} - " if @story.hl1 -%>
<% end %>

<div class="inner-box clearfix">
  <div id="story-content">
    <% if @story.hl1 %>
    	<h1><%= @story.hl1.html_safe %></h1>
		<% end %>
    <% if @story.hl2 %>
      <h4><%= @story.hl2.html_safe %> </h4>
    <% end %>
    <% if  @story.byline %>
      <h4>By: <%= @story.byline.html_safe %>, <%= @story.paper.name.html_safe if @story.paper %></h4>
    <% end %>
    <%= render(:partial => 'sidebar') %>
		<br/>
    <% if @story.copy %><%=  @story.copy.html_safe %><% end %>
    <% if @story.tagline %>
      <h3><%= @story.tagline.html_safe -%></h3>
    <% end %>
		</br><br/>
    <% if @story.sidebar_body %>
      <%= @story.sidebar_body.html_safe -%>
    <% end %>
  </div>

	<% if @story.story_images %>
		<h3>Images:</h3>
		<%= @story.story_images.each do |image| %>
			<%= image_tag image.image.url(:medium) %>
			<br/>
			<% if !image.media_id.nil? %><%= image.media_id %><br/><% end %>
			<% if !image.media_name.nil? %><%= image.media_name %><br/><% end %>
			<% if !image.media_width.nil? %><%= image.media_width %><br/><% end %>
			<% if !image.media_mime_type.nil? %><%= image.media_mime_type %><br/><% end %>
			<% if !image.media_source.nil? %><%= image.media_source %><br/><% end %>
			<% if !image.media_printcaption.nil? %><%= image.media_printcaption %><br/><% end %>
			<% if !image.media_printproducer.nil? %><%= image.media_printproducer %><br/><% end %>
			<% if !image.media_originalcaption.nil? %><%= image.media_originalcaption %><br/><% end %>
			<% if !image.media_source.nil? %><%= image.media_source %><br/><% end %>
			<% if !image.media_byline.nil? %><%= image.media_byline %><br/><% end %>
			<% if !image.media_project_group.nil? %><%= image.media_project_group %><br/><% end %>
			<% if !image.media_notes.nil? %><%= image.media_notes %><br/><% end %>
			<% if !image.media_status.nil? %><%= image.media_status %><br/><% end %>
			<% if !image.media_type.nil? %><%= image.media_type %><br/><% end %>
			</br><br/>
		<% end %>
	<% end %>
</div>
