<% content_for :title do %>
  <%= "#{h @story.hl1} - " if @story.hl1 -%>
<% end %>

<div class="inner-box clearfix">
  <div id="story-content" class="grid_15">
    <% if @story.hl1 %>
    	<h1><%= @story.hl1.html_safe %></h1>
		<% end %>
    <% if @story.hl2 %>
      <h4><%= @story.hl2.html_safe %> </h4>
    <% end %>
    <% if  @story.byline %>
      <h4>By: <%= @story.byline.html_safe %>
				<% if @story.paper %>, <%= @story.paper.name.html_safe %> <% end %>
			</h4>
    <% end %>

		<div id="story_block" class="grid_11">
	    <% if @story.copy %><%=  @story.copy.html_safe %><% end %>
	    <% if @story.tagline %>
	      <h3><%= @story.tagline.html_safe %></h3>
	    <% end %>
			</br><br/>
	    <% if @story.sidebar_body %>
	      <%= @story.sidebar_body.html_safe %>
	    <% end %>
		</div>

		<div id="sidebar_block" class="grid_3 full_width">
	    <%= render(:partial => 'sidebar') %>
			<br/>
			<% if @story.story_images.count > 0 %>
		  	<%= render(:partial => 'image_sidebar') %>
			<% end %>
		</div>
  </div>

</div>
