<%= form_tag pdf_images_path, :class => "form-inline", :method => :get do %>
	<div class="d-flex flex-wrap justify-content-start align-items-center">
		<div class="form-search-text-col">
			<%= text_field_tag :search_query, params[:search_query], 
				:class => "form-search-text", 
				:placeholder => "search", 
				:autofocus => true %>
		</div>
		<div class="d-flex justify-content-center align-items-center">
			<div class="input-group date form-search-date-col" data-provide="datepicker">
				<%= text_field_tag :date_from_select, params[:date_from_select], 
					:class => "text-center form-control datepicker", 
					:placeholder => "mm/dd/yyyy" %>
			    <div class="input-group-addon">
					<i class='fa fa-calendar input-group-text'></i>
			    </div>
			</div>
			-
			<div class="input-group date form-search-date-col" data-provide="datepicker">
				<%= text_field_tag :date_to_select, params[:date_to_select], 
					:class => "text-center form-control datepicker", 
					:placeholder => "mm/dd/yyyy" %>
			    <div class="input-group-addon">
					<i class='fa fa-calendar input-group-text'></i>
			    </div>
			</div>
		</div>
		<div class="">
			<div class="form-search-select-col">
				<%= select_tag 'location', 
						options_from_collection_for_select(@locations, 'id', 'name', 
						:selected => params[:location]), {:class => "form-search-select", :prompt => "- Location -"} %>
				<%= select_tag 'pub_select', options_from_collection_for_select(@publications, 'pub_name', 'pub_name', 
						:selected => params[:pub_select]), {:class => "form-search-select", :prompt => "- Publication -"} %>
			</div>
			<div class="form-search-select-col">
				<%= select_tag 'pub_type', 
						options_from_collection_for_select(@pub_types, 'id', 'name', 
						:selected => params[:pub_type]), {:class => "form-search-select", :prompt => "- Pub Type -"} %>
				<%= select_tag 'sectionletter', 
						options_from_collection_for_select(@section_letters, 'section_letter', 'section_letter', 
						:selected => params[:sectionletter]), {:prompt => "- Letter -", :class => 'form-search-select-md'} %>
				<%= text_field_tag :pagenum, params[:pagenum], :placeholder => "- Page -", :class => 'form-search-select-sm' %>
			</div>
		</div>
		<div class="form-search-button-col">
		 	<button class="btn-secondary form-search-button" type="submit"><i class="fa fa-search"></i></button>
		</div>
	</div>
<% end %>
