<div id="pdf-images-page">
	<%= render(:partial => "home/pagenav") %>
	<div id="page-content" class="clearfix">
		<h1>PDF Images</h1>
		<h2 class="clearfix">
			<div id="filter_images_block" class="full_width clear_fix">
				<%= form_tag pdf_images_path , :method => :get do %>
					<table cellspacing="0" cellpadding="0">
						<tbody>
							<td class="large"></td>
							<td class="float_right extra_small">Date From:</td>
							<td class="smaller">
								<%= text_field_tag :date_from_select, params[:date_from_select], 
												:class => 'short_date_picker center', 
												:placeholder => "mm/dd/yyyy" %>
							</td>
							<td class="float_right extra_small">Date To:</td>
							<td class="smaller">
								<%= text_field_tag :date_to_select, params[:date_to_select], 
													:class => 'short_date_picker center', 
													:placeholder => "mm/dd/yyyy" %>
							</td>
							<td class="float_right extra_small">Section Letter:</td>
							<td class="tiny">
								<%= text_field_tag :sectionletter, params[:sectionletter] %>
							</td>
							<td class="float_right extra_small">Page #:</td>
							<td class="tiny">
								<%= text_field_tag :pagenum, params[:pagenum] %>
							</td>
							<td class="smaller"><%= submit_tag "Filter", :class => 'submit float_right'%></td>
						</tbody>
					</table>
				<% end %>
			</div>
		</h2>

		<div class="inner-box clearfix">
		  <div id="pdf-block" class="full_width">
			  <% if @pdf_images %>
					<div id="table-paginate" class="full_width clearfix">
		      	<div class="float_right"><%= will_paginate @pdf_images %></div>
					</div>
					<div id="pdf-gallery" class="full_width clearfix">
						<% @pdf_images.each do |pdf| %>
							<div id="pdf-gallery-item" class="grid_2">
								<div class="center">
									<%= link_to image_tag(pdf.image(:large), :alt=>"PagePDF", :class=>"image_medium"), pdf_image_path(pdf) %>
								</div>
								<div>
									<div class="center"><%= pdf.pubdate.strftime('%m/%d/%Y') %></div>
									<div class="center"><%= pdf.publication %> <%= pdf.section_letter %><%= pdf.page %></div>
									<% if admin? and @settings.show_delete_button %>
										<div class="center"><%= button_to "Delete", pdf_image_path(pdf), 
																	:method => :delete, 
																	:confirm => "Are you sure you want to delete PDF?",
																	:action => 'destroy' %>
										</div>
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
					<div id="table-paginate" class="full_width">
		      	<div class="float_right"><%= will_paginate @pdf_images %></div>
					</div>
			  <% end %>
			</div>
		</div>
	</div>
</div>