<%= content_for :title do %>
  <%= "#{params[:search_query]} - " if params[:search_query] -%>
<% end %>

<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-end">
			<h2>PDF Pages</h2>
			<div class="search-header">
				<div>Archive Search Form (<%= number_with_delimiter(@total_pdfs_count, :delimiter => ',') %> archived PDFs)</div>
				<% if admin? or edit? %>
					<div class="float-right">
						<%= link_to "Upload PDFs", new_pdf_image_path(
							:date_from_select=>params[:date_from_select], 
							:date_to_select=>params[:date_to_select], 
							:location=>params[:location], 
							:pub_type=>params[:pub_type], 
							:pub_select=>params[:pub_select], 
							:sectionletter=>params[:sectionletter], 
							:pagenum=>params[:pagenum]) %>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="page-content-search image-search">        
		<%= render :partial => 'pdf_images/search_pdfs' %>
	</div>

	<div class="page-content-body">
		<% if @pdf_images %>
			<div class="search-pagination d-flex justify-content-between align-items-end">
				<div class="search-result-totals">
					Search Results: <%= number_with_delimiter(@pdf_images.results.total_pages * @pdf_images.results.count, :delimiter => ',') %>
				</div>
				<div class="flickr_pagination d-none d-sm-block">
					<%= will_paginate @pdf_images.results, :inner_window => 2, :outer_window => 0 %>
				</div>
				<div class="flickr_pagination d-block d-sm-none">
					<%= will_paginate @pdf_images.results, :inner_window => 2, :outer_window => 0, :page_links => false %>
				</div>
			</div>
			<div class="pdf-gallery">
				<div class="d-flex flex-wrap justify-content-start">
					<% @pdf_images.results.each do |pdf| %>
						<div class="pdf-gallery-item">
							<div class="text-center">
								<%= link_to image_tag(pdf.image(:large), :alt=>"PagePDF", :class=>"image_medium"), pdf.image.url %>
							</div>
							<div>
								<div class="text-center">
									<%= pdf.pubdate.strftime('%m/%d/%Y') if pdf.pubdate? %>
								</div>
								<div class="text-center">
									<%= pdf.plan.pub_name if pdf.plan.present?  %> <%= pdf.section_letter %><%= pdf.page %>
								</div>
								<%= pdf.pubdate.strftime('%m/%d/%Y %T') %>
								<%= Date.strptime(params[:date_from_select], "%m/%d/%Y %T") %>
								<div class="text-center">
									<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_pdf_image_path(pdf,
										:date_from_select=>params[:date_from_select], 
										:date_to_select=>params[:date_to_select], 
										:location=>params[:location], 
										:pub_type=>params[:pub_type], 
										:pub_select=>params[:pub_select], 
										:sectionletter=>params[:sectionletter], 
										:pagenum=>params[:pagenum]) %>
									<% if admin? and @settings.show_delete_button %>
										<%= link_to icon('trash-o fa-lg'), 
											pdf_image_path(pdf,
											:date_from_select=>params[:date_from_select], 
											:date_to_select=>params[:date_to_select], 
											:location=>params[:location], 
											:pub_type=>params[:pub_type], 
											:pub_select=>params[:pub_select], 
											:sectionletter=>params[:sectionletter], 
											:pagenum=>params[:pagenum]), 
											:class => "",
											:method=> :delete, :action => 'destroy',
											data: {confirm:'Delete PDF?'},
											title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
									<% end %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
			<div class="search-pagination d-flex justify-content-between align-items-end">
				<div class="search-result-totals">
					Search Results: <%= number_with_delimiter(@pdf_images.results.total_pages * @pdf_images.results.count, :delimiter => ',') %>
				</div>
				<div class="flickr_pagination d-none d-sm-block">
					<%= will_paginate @pdf_images.results, :inner_window => 2, :outer_window => 0 %>
				</div>
				<div class="flickr_pagination d-block d-sm-none">
					<%= will_paginate @pdf_images.results, :inner_window => 2, :outer_window => 0, :page_links => false %>
				</div>
			</div>
		<% end %>
	</div>
</div>