<%= content_for :title do %>
  <%= "#{params[:search_query]} - " if params[:search_query] -%>
<% end %>

<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-end">
			<h2>New PDF Files</h2>
		</div>
	</div>

	<div class="page-content-body">
		<%= form_for @pdf_image, :html => { :multipart => true } do |form| %>
			<%= render :partial => 'shared/error_messages', :locals => { :target => @pdf_image } %>

			<%= hidden_field_tag :date_from_select, params[:date_from_select] %>
			<%= hidden_field_tag :date_to_select, params[:date_to_select] %>
			<%= hidden_field_tag :location, params[:location] %>
			<%= hidden_field_tag :pub_type, params[:pub_type] %>
			<%= hidden_field_tag :pub_select, params[:pub_select] %>
			<%= hidden_field_tag :sectionletter, params[:sectionletter] %>
			<%= hidden_field_tag :pagenum, params[:pagenum] %>

			<h5>Publication Info:</h5>
			<div class="form-group row offset-md-1">
				<label for="select_location" class="col-md-2 col-3 col-form-label">Location</label>
				<%= select_tag 'location', 
					options_from_collection_for_select(@locations, 'id', 'name', :selected => params[:location]), 
					{:prompt => "- Select Location -", :required => true, :id => 'select_location', :class => "form-search-select"} %>
			</div>
			<div class="form-group row offset-md-1">
				<label for="select_pubtype" class="col-md-2 col-3 col-form-label">Pub Type</label>
				<%= select_tag 'pub_type', 
					options_from_collection_for_select(@pub_types, 'id', 'name', :selected => params[:pub_type]), 
					{:prompt => "- Select Pub Type -", :required => true, :id => 'select_pubtype', :class => "form-search-select"} %>
			</div>
			<div class="form-group row offset-md-1">
				<label for="pubname" class="col-md-2 col-3 col-form-label">Publication Name</label>
				<%= form.text_field :publication, :required => true, :value => params[:pub_select], 
						:placeholder => "Enter publication here (ie, The Bulletin, GO!, U Magazine,...)",
						:class => "col-8", :autofocus => true %>
			</div>
			<div class="form-group row offset-md-1">
				<label for="pubdate" class="col-md-2 col-3 col-form-label">PubDate</label>
				<% if params[:date_to_select].present? %>
					<%= form.date_field :pubdate, :required => true,
						:value => Date.strptime(params[:date_to_select], "%m/%d/%Y") %>
				<% else %>
					<%= form.date_field :pubdate, :required => true,
						:value => Date.today.strftime("%Y-%m-%d") %>
				<% end %>
				<div class="input-group-append">
					<i class='fa fa-calendar input-group-text'></i>
				</div>
			</div>

			<hr/>
			<h5>Section:</h5>
			<div class="form-row">
				<div class="form-group col-md-6 offset-md-1">
					<label for="section_name" class="">Name:</label>
					<%= text_field_tag "pdf_image[section_name]", params[:section_name1], :required => true, 
							:placeholder => "Enter section here (ie. Local, Sports, Health,...)",
							:class => "form-control col" %>
				</div>
				<div class="form-group col-md-2">
					<label for="section_letter" class="">Letter:</label>
					<%= text_field_tag "pdf_image[section_letter]", params[:section_letter1], :required => true, 
						:placeholder => "A,B,C,...", :class => "form-control" %>
				</div>
				<div class="form-group col-md-3">
					<label for="image">PDF Files:</label>
					<%= file_field_tag "pdf_image[image][]", accept: 'application/pdf', :multiple => true, :required => true, :class => "" %>
				</div>
			</div>


			<hr/>
			<%= button_tag(:type => "submit", :id => "pdf_upload_submit", 
				:class => "btn btn-primary", :'data-toggle' => "modal", :href => "#progressModal") do %>
		    	Create
			<% end %>
			<%= form.submit "Cancel", :name => 'cancel_button', :class => 'btn btn-primary', :formnovalidate => true %>
		</div>
		<% end %>
		
		<!-- Modal -->
		<div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModal" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="">Uploading Files</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
				<div class="modal-body text-center">
					<br/>
					<br/>
					<img class="spinner" src="/images/Spinner.gif">
					<br/>
					<br/>
					Please be patient while we upload your files. Thank you.
				</div>
		    </div>
		  </div>
		</div>
</div>
