<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-center">
			<h2>Publication Type: <%= @publication_type.name %></h2>
		</div>
	</div>

	<div class="page-content-body">
		<div id="edit-block" class="container">
			<%= form_for @publication_type do |form| %>
				<div class="form-group">
					<label for="name" class="col-form-label">Name:</label>
					<div class="col">
						<%= form.text_field :name, :class => 'col-4', :autofocus => true %>
					</div>
					<label for="sort_order" class="col-form-label">Sort Order:</label>
					<div class="col">
						<%= form.select :sort_order, (1..99), {}, :class => '' %>
					</div>
				</div>
				<div class="d-flex justify-content-end">
					<%= form.submit "Update", :class => 'btn btn-primary'%>
					<%= form.submit "Cancel", :name => 'cancel_button', :class => 'btn btn-primary'%>
				</div>
			<% end %>
		</div>
	</div>
</div>
