<div id="section-category-page">
	<%= render(:partial => "home/pagenav") %>
	<div id="page-content" class="clearfix">
		<h1>
			section_categories: <%= @section_categories.name %>
			<span class="float_right"><%= button_to "Delete Section", section_category_path(@section_categories), 
										:method => :delete, 
										:confirm => "Are you sure you want to delete Section Category?",
										:action => 'destroy' %></span>
		</h1>

		<div class="inner-box clearfix">
		  <div id="form-block" class="grid_15">
				<%= form_for @section_categories, :url => section_category_path do |form| %>
					<div id="story-edit" class="clearfix">
						<%= render :partial => 'form', :object => form %>
					</div>
					<div class="full_width">
						<div>
							<%= form.submit "Update", :class => 'submit small'%>
							<%= form.submit "Cancel", :name => 'cancel_button', :class => 'submit small'%>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
