<div id="plans-page">
	<%= render(:partial => "home/pagenav") %>
	<div id="page-content" class="clearfix">
		<h1>
			Plan Edit:
		</h1>

		<div class="inner-box clearfix">
		  <div id="form-block" class="grid_15">
				<%= form_for @plan, :url => plan_path do |form| %>
					<div class="full_width clearfix">
						<div class="grid_8">
							Location: 
							<%= form.select :location_id, @locations.collect { |c| [c.name, c.id] }, 
									{:prompt => "- Select Location -"}, :class => 'small' %>
							Publication Type: 
							<%= form.select :publication_type_id, @publication_types.collect { |c| [c.name, c.id] },
									{:prompt => "- Select Publication Type -"}, :class => 'small' %>
						</div>
						<div class="grid_8">
							<h3>Sample Records attached to this plan:</h3>
							<div id="plan_sample_block">
								</br>
								<div class="full_width clearfix">
									<% if @stories.present? %>
										<% @stories.each do |sample| %>
											<div class="float_left story_sample">
												<%= link_to "Story", story_path(sample) %> : <%= sample.pubdate %>, p.<%= sample.page %>
												<div class="center">
													<%= link_to "PDFs", 
																			pdf_images_path(:date_from_select=>sample.pubdate.strftime('%m/%d/%Y'), 
																											:date_to_select=>sample.pubdate.strftime('%m/%d/%Y'), 
																											:pagenum=>sample.page) %>
												</div>
											</div>
										<% end %>
									<% end %>
								</div>
								<div class="full_width clearfix">
									<% if @pdfs.present? %>
										<% @pdfs.each do |sample| %>
											<div class="float_left pdf_sample">
												<%= sample.pubdate %>, p.<%= sample.page %>
												<br/>
												<div class="center">
													<%= link_to image_tag(sample.image(:large), :alt=>"PagePDF", :class=>"image_small"), pdf_image_path(sample) %>
												</div>
											</div>
										<% end %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					</br>
					<div class="full_width clearfix">
						<div class="grid_6">
							<h2>Pub and Section from imported story data file</h2><br/>
							<% if admin? %>
								<div class="indent">
									Imported Publication Name: <%= form.text_field :import_pub_name %>
									Imported Section Name: <%= form.text_field :import_section_name %>
									Imported Section Letter: <%= form.text_field :import_section_letter %>
								</div>
							<% else %>
								<div class="indent">
									Imported Publication Name: <% form.text_field :import_pub_name %>
									Imported Section Name: <% form.text_field :import_section_name %>
									Imported Section Letter: <% form.text_field :import_section_letter %>
								</div>
							<% end %>
						</div>
						<div class="grid_2">
							<br/><br/><br/><br/><br/>
							===============><br/>
							===============><br/>
							<br/><br/>
							===============><br/>
							===============><br/>
							<br/><br/>
							===============><br/>
							===============><br/>
						</div>
						<div class="grid_8">
							<h2>Pub and Section to use within this Archive for searching</h2><br/>
							<div class="indent">
								Publication Name: <%= form.text_field :pub_name, 
										:placeholder => "Enter publication here (ie, The Bulletin, GO!, U Magazine,...)" %>
								Section Name: <%= form.text_field :section_name, 
										:placeholder => "Enter section here only if needed (ie. Local, Sports, Health,...)" %>
							</div>
						</div>
					</div>
					<br/>
					<%= form.submit "Update", :class => 'submit small'%>
					<%= form.submit "Cancel", :name => 'cancel_button', :class => 'submit small'%>
				<% end %>
			</div>
		</div>
	</div>
</div>
