<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-center">
			<h2>Plan Edit:</h2>
		</div>
	</div>

	<div class="page-content-body">
		<div id="edit-block" class="container">
			<%= form_for @plan do |form| %>
				<div class="row">
					<div class="col-6">
						<div class="col">
							<div class="form-group">
								<label for="location" class="col-form-label">Location:</label>
								<div class="col">
									<%= form.select 'location_id', 
										options_from_collection_for_select(@locations, 'id', 'name', 
										:selected => params[:location_id]), 
										{:class => "form-search-select", :prompt => "- Select Location -", :required => true} %>
								</div>
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label">Publication Type:</label>
								<div class="col">
									<%= form.select 'publication_type_id', 
										options_from_collection_for_select(@publication_types, 'id', 'name', 
										:selected => params[:publication_type_id]), 
										{:class => "form-search-select", :prompt => "- Select Publication Type -", :required => true} %>
								</div>
							</div>
						</div>
						<div class="col">
							<div id="last_updated" class="">
								<% if @last_updated.present? %>
									Last updated by <%= @last_updated.user.name unless @last_updated.user.nil? %> 
									on <%= @last_updated.created_at.strftime('%m/%d/%y at %I:%M%p') %>
									<% if @logs.count > 1 %>
										<br/><div id="log_show_more" class="float_right">show more</div><br/>
										<br/>
										<div id="info-logs" class="hidden">
											<% @logs.each do |log| %>
												<%= log.created_at.strftime('%m/%d/%y %I:%M%p') %> - 
												<%= log.log_action %>
												by <%= log.user.name unless log.user.nil? %>
												<br/>
											<% end %>
										</div>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
					<div class="col-6 scroll-box">
						<h5>Sample Records attached to this plan:</h5>
						<div class="row">
							<% if @stories.present? %>
								<% @stories.each do |sample| %>
									<div class="col-4">
										<div class="card text-center">
											<div class="card-header">
												<small><%= link_to "Story", story_path(sample) %> : <%= sample.pubdate %></small>
											</div>
											<div class="card-block">
												<p class="card-text">
													<!--
													<% if sample.pubdate.present? %>
														<%= link_to "PDFs", pdf_images_path(:date_from_select=>sample.pubdate.strftime('%m/%d/%Y'), 
															:date_to_select=>sample.pubdate.strftime('%m/%d/%Y'), 
															:pagenum=>sample.page) %>
													<% end %>
													-->
												</p>
											</div>
										</div>
									</div>
								<% end %>
							<% end %>
							<% if @pdfs.present? %>
								<% @pdfs.each do |sample| %>
									<div class="col-4">
										<div class="card text-center">
											<div class="card-header"><small><%= sample.pubdate %>, p.<%= sample.page %></small></div>
											<%= link_to image_tag(sample.image(:large), :alt=>"PagePDF", :class=>"card-img-top image_small"), 
												pdf_image_path(sample) %>
											<div class="card-block">
												<p class="card-text">
												
												</p>
											</div>
										</div>
									</div>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<hr/>

			<div class="row">
				<div class="col-4">
					<h5>Pub and Section from imported story data file</h5><br/>
					<% if admin? %>
						<div class="form-group">
							<label for="import_pub_name" class="col-form-label">Imported Publication Name:</label>
							<div class="col">
								<%= form.text_field :import_pub_name, :class => 'col' %>
							</div>
							<label for="import_section_name" class="col-form-label">Imported Section Name:</label>
							<div class="col">
								<%= form.text_field :import_section_name, :class => 'col' %>
							</div>
							<label for="import_section_letter" class="col-form-label">Imported Section Letter:</label>
							<div class="col">
								<%= form.text_field :import_section_letter, :class => 'col' %>
							</div>
						</div>
					<% else %>
						<div class="form-group">
							<label for="import_pub_name" class="col-form-label">Imported Publication Name:</label>
							<div class="col">
								<% form.text_field :import_pub_name %>
							</div>
							<label for="import_section_name" class="col-form-label">Imported Section Name:</label>
							<div class="col">
								<% form.text_field :import_section_name %>
							</div>
							<label for="import_section_letter" class="col-form-label">Imported Section Letter:</label>
							<div class="col">
								<% form.text_field :import_section_letter %>
							</div>
						</div>
					<% end %>
				</div>
				<div class="col-2">
					<br/><br/><br/>
					===============><br/>
					===============><br/>
					<br/>
					===============><br/>
					===============><br/>
					<br/>
					===============><br/>
					===============><br/>
				</div>
				<div class="col-6">
					<h5>Pub and Section to use within this Archive for searching</h5><br/>
					<div class="form-group">
						<label for="pub_name" class="col-form-label">Publication Name:</label>
						<div class="col">
							<%= form.text_field :pub_name, :class => 'col', 
								:placeholder => "Enter publication here (ie, The Bulletin, GO!, U Magazine,...)" %>
						</div>
						<label for="section_name" class="col-form-label">Section Name:</label>
						<div class="col">
							<%= form.text_field :section_name, :class => 'col', 
								:placeholder => "Enter section here only if needed (ie. Local, Sports, Health,...)" %>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex justify-content-end">
				<%= form.submit "Update", :class => 'btn btn-primary'%>
				<%= form.submit "Cancel", :name => 'cancel_button', :class => 'btn btn-primary'%>
			</div>
		<% end %>
	</div>
</div>
