<div>
	<% if @image.publish_status == "Published" %>
		<strong>Published On: </strong><%= @image.story.pubdate.strftime('%m/%d/%Y') if @image.story.pubdate.present? %><br/>
	<% else %>
		<% if @image.publish_status == "Attached" %>
			<strong>Attached to Story: </strong>
		<% else %>
			<% if @image.publish_status == "PagePDF" %>
				<strong>PDF of Page for Story: </strong>
			<% else %>
				<strong>Story: </strong>
			<% end %>
		<% end %>
	<% end %>
	<div>
		<strong>Story: </strong>
		<%= link_to text_for_story_link(@image.story), @image.story if @image.story.present? %>
	</div>
	<% if @image.story.plan %>
		<strong>Publication: </strong><%= @image.story.plan.pub_name if @image.story.plan.pub_name.present? %><br/>
		<strong>Section: </strong><%= @image.story.plan.section_name if @image.story.plan.section_name.present? %><br/>
	<% end %>
	<strong>Page: </strong><%= @image.story.page if @image.story.page.to_i > 0 %>
</div>
<br/>

<div class="form-group">
	<label for="media_printcaption" class="col-form-label">Print Caption:</label>
	<div class="col">
		<%= form.text_area :media_printcaption, :class => 'col textarea_small' %>
	</div>
	<label for="media_printproducer" class="col-form-label">Print Producer:</label>
	<div class="col">
		<%= form.text_field :media_printproducer, :class => 'col' %>
	</div>
</div>

<div class="form-group">
	<label for="media_webcaption" class="col-form-label">Web Caption:</label>
	<div class="col">
		<%= form.text_area :media_webcaption, :class => 'col textarea_small' %>
	</div>
</div>

<div class="form-group">
	<label for="media_originalcaption" class="col-form-label">Original Photographer's Caption:</label>
	<div class="col">
		<%= form.text_area :media_originalcaption, :class => 'col textarea_small' %>
	</div>
	<label for="media_byline" class="col-form-label">Original Photographer's Byline: </label>
	<div class="col">
		<%= form.text_field :media_byline, :class => 'col' %>
	</div>
	<label for="media_source" class="col-form-label">Original Photographer's Source: </label>
	<div class="col">
		<%= form.text_field :media_source, :class => 'col' %>
	</div>
</div>

<div>
	<div class="image-info-head font-weight-bold">DTI Related Info:</div>
	<div class="col">
		<strong>Media ID: </strong><%= @image.media_id unless @image.media_id.nil? %><br/>
		<strong>Media Name: </strong><%= @image.media_name unless @image.media_name.nil? %><br/>
		<strong>Original Filename: </strong><%= @image.image_file_name unless @image.image_file_name.nil? %><br/>
		<strong>Image Size: </strong><%= @image.media_width %>x<%= @image.media_height %><br/>
		<strong>Project Group: </strong><%= @image.media_project_group unless @image.media_project_group.nil? %><br/>
		<strong>Category: </strong><%= select_tag :media_category, options_for_select(@image_categories, :selected=>@image.media_category) %><br/>
		<strong>Status: </strong><%= @image.media_status unless @image.media_status.nil? %><br/>
		<strong>Web Status: </strong><%= @image.priority unless @image.priority.nil? %><br/>
		<strong>Type: </strong><%= @image.image_content_type unless @image.media_mime_type.nil? %><br/>
		<strong>Created: </strong><%= @image.created_date.strftime('%m/%d/%y %I:%M%p') unless @image.created_date.nil? %><br/>
		<strong>Last Refreshed: </strong>
		<%= @image.last_refreshed_time.strftime('%m/%d/%Y %I:%M%p') unless @image.last_refreshed_time.nil? %><br/>
	</div>
</div>

/*
<div class="form-group">
	<label for="forsale" class="col-form-label">Set Image For Sale (ignore any search filters on WescomPhotos)?</label>
	<div class="col">
		<%= form.select :forsale, options_for_select(StoryImage::FORSALE_OPTIONS, :selected=>@image.forsale) %>
	</div>
</div>
*/