<%= content_for :title do %>
  <%= "#{params[:search_query]} - " if params[:search_query] -%>
<% end %>

<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-end">
			<h2>Image Gallery</h2>
			<div class="search-header">
				Archive Search Form (<%= number_with_delimiter(@total_images_count, :delimiter => ',') %> archived images)
			</div>
		</div>
	</div>

	<div class="page-content-search image-search">        
		<%= render :partial => 'story_images/search_image_gallery' %>
	</div>

	<div class="page-content-body">

		<div class="inner-box clearfix">
			<div id="image-block" class="">
				<h3>Click images to view info ...</h3>
				<% if @images %>
					<div id="image-gallery" class="">
						<%= render :partial => 'image', :collection => @images.results %>
					</div>
					<div id="gallery_paginate"><%= will_paginate @images.results %></div>
					<div id="image_gallery_whitespace"></div>
				<% end %>
			</div>
		</div>
	</div>
</div>
