<%= content_for :title do %>
  <%= "#{params[:search_query]} - " if params[:search_query] -%>
<% end %>
<h1>Story Images</h1>
<h2><%= @total_images_count %> archived images</h2>

<div class="inner-box clearfix">
	<div id="image-block" class="full_width">
		<% if @images %>
			<div id="image-gallery" class="full_width clearfix">
				<%= render :partial => 'image', :collection => @images %>
			</div>
			<%= will_paginate @images %></div>
		<% end %>
	</div>
</div>
