<% content_for :title do %>
  <%= "#{h @image.media_name} - " if @image.media_name -%>
<% end %>

<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-center">
			<h2>
				<% if !@image.media_name.nil? %><%= @image.media_name %><% end %>
			</h2>
			<div class="float-right"><%= @image.publish_status %></div>
		</div>
	</div>

	<div class="page-content-body">
		<div class="row">
			<% if @image.media_type == "PagePDF" %>
				<div class="col-12 col-md-6 col-lg-6">
					<div class="d-flex flex-wrap justify-content-center">
						<%= link_to image_tag(@image.image(:large), :alt=>"PagePDF", :class=>"image_medium"), @image.image.url %>
					</div>
				<div>
			<% else %>
				<div class="col-12 col-md-6 col-lg-6">
					<div class="d-flex flex-wrap justify-content-center">
						<%= link_to image_tag(@image.image(:large), :alt=>"StoryImage", :class=>"image_large max-width100"), @image.image.url %>
						<div class="full-width d-flex justify-content-center">(Click image for full resolution)</div>
					</div>
					<br/>
					<div class="d-flex justify-content-center">
						<%= button_to "Back", :back, :method => :get, :class => 'btn btn-primary' %>
						<% if admin? || edit? %>
							<%= button_to "Edit", edit_story_image_path(@image), :method => :get, :class => 'btn btn-primary' %>
							<% if admin? %>
								<%= button_to "Delete Image", story_image_path(@image), 
										:method => :delete, 
										:confirm => "Are you sure you want to delete image from story?",
										:action => 'destroy',
										:class => 'btn btn-primary' %>
							<% end %>
						<% end %>
					</div>
					<br/>
				</div>
				<div class="col-12 col-md-6 col-lg-6">
					<div id="" class="image-info">
						<div id="last_updated" class="">
							<% if @last_updated.present? %>
								Last updated by <%= @last_updated.user.name unless @last_updated.user.nil? %> 
								on <%= @last_updated.created_at.strftime('%m/%d/%y at %I:%M%p') %>
								<% if @logs.count > 1 %>
									<br/><div id="log_show_more" class="">show more</div><br/>
									<br/>
									<div id="info-logs" class="hidden">
										<% @logs.each do |log| %>
											<%= log.created_at.strftime('%m/%d/%y %I:%M%p') %> - 
											<%= log.log_action %>
											by <%= log.user.name unless log.user.nil? %>
											<br/>
										<% end %>
									</div>
								<% end %>
							<% end %>
						</div>
			
						<div>
							<% if @image.publish_status == "Published" %>
								<strong>Published On: </strong><%= @image.story.pubdate.strftime('%m/%d/%Y') if @image.story.pubdate.present? %><br/>
							<% else %>
								<% if @image.publish_status == "Attached" %>
									<strong>Attached to Story: </strong>
								<% else %>
									<% if @image.publish_status == "PagePDF" %>
										<strong>PDF of Page for Story: </strong>
									<% else %>
										<strong>Story: </strong>
									<% end %>
								<% end %>
							<% end %>
							<div>
								<strong>Story: </strong>
								<%= link_to text_for_story_link(@image.story), @image.story if @image.story.present? %>
							</div>
							<% if @image.story.plan %>
								<strong>Publication: </strong><%= @image.story.plan.pub_name if @image.story.plan.pub_name.present? %><br/>
								<strong>Section: </strong><%= @image.story.plan.section_name if @image.story.plan.section_name.present? %><br/>
							<% end %>
							<strong>Page: </strong><%= @image.story.page if @image.story.page.to_i > 0 %>
						</div>
						<br/>

						<div class="image-head font-weight-bold">Print Caption:</div>
						<div class="image-info-box">
							<% if !@image.media_printcaption.nil? %><%= @image.media_printcaption %><br/><br/><% end %>
							<% if !@image.media_printproducer.nil? %><%= @image.media_printproducer %><br/><% end %>
						</div>

						<% if !@image.media_webcaption.nil? %>
							<div class="image-info-head font-weight-bold">Web Caption:</div>
							<div class="image-info-box">
								<%= @image.media_webcaption %><br/><br/>
							</div>
						<% end %>

						<div class="image-info-head font-weight-bold">Original Photographer's Caption:</div>
						<div class="image-info-box">
							<% if !@image.media_originalcaption.nil? %><%= @image.media_originalcaption %><br/><br/><% end %>
							<% if !@image.media_byline.nil? %><%= @image.media_byline %><br/><% end %>
							<% if !@image.media_source.nil? %><%= @image.media_source %><br/><% end %>
						</div>
						<br/>
						
						<div class="image-info-head font-weight-bold">DTI Related Info:</div>
						<div class="image-info-box">
							<strong>Media ID: </strong><%= @image.media_id unless @image.media_id.nil? %><br/>
							<strong>Media Name: </strong><%= @image.media_name unless @image.media_name.nil? %><br/>
							<strong>Original Filename: </strong><%= @image.image_file_name unless @image.image_file_name.nil? %><br/>
							<strong>Image Size: </strong><%= @image.media_width %>x<%= @image.media_height %><br/>
							<strong>Project Group: </strong><%= @image.media_project_group unless @image.media_project_group.nil? %><br/>
							<strong>Category: </strong><%= @image.media_category unless @image.media_category.nil? %><br/>
							<strong>Status: </strong><%= @image.media_status unless @image.media_status.nil? %><br/>
							<strong>Web Status: </strong><%= @image.priority unless @image.priority.nil? %><br/>
							<strong>Type: </strong><%= @image.image_content_type unless @image.media_mime_type.nil? %><br/>
							<strong>Created: </strong><%= @image.created_date.strftime('%m/%d/%y %I:%M%p') unless @image.created_date.nil? %><br/>
							<strong>Last Refreshed: </strong>
							<%= @image.last_refreshed_time.strftime('%m/%d/%Y %I:%M%p') unless @image.last_refreshed_time.nil? %><br/>
						</div>
			
						<div class="image-info-head font-weight-bold">Purchasing:</div>
						<div class="image-info-box">
							<strong>Image 'For Sale' setting: </strong><%= @image.forsale unless @image.forsale.nil?%><br/>
						</div>			
					</div>
				<% end %>
			</div>
		</div>

	</div>
</div>
