<% content_for :title do %>
  <%= "#{h @image.media_name} - " if @image.media_name -%>
<% end %>

<div id="image-content" class="grid_16">
	<div class="image-header-bar ">
		<% if !@image.media_name.nil? %><%= @image.media_name %><% end %>
		<%= @image.publish_status %>
	</div>

	<% if @image.media_type == "PagePDF" %>
		<%= link_to image_tag(@image.image(:large), :alt=>"PagePDF", :class=>"image_medium"), @image.image.url %>
	<% else %>
		<div id="image_image" class="grid_8 clearfix">
<!--			<%= image_tag(@image.image(:large), :alt=>"Story Image", :class=>"image_large") %> -->
			<%= link_to image_tag(@image.image(:large), :alt=>"PagePDF", :class=>"image_large"), @image.image.url %>
		</div>

		<div id="image_info" class="grid_8 clearfix">
			<div class="image-attached-story">
				<% if @image.publish_status == "Published" %>
					Published On <%= @image.story.pubdate.strftime('%m/%d/%y') if @image.story.pubdate.present? %>
					in Story : 
				<% else %>
					<% if @image.publish_status == "Attached" %>
						Attached to Story: 
					<% else %>
						<% if @image.publish_status == "PagePDF" %>
							PDF of Page for Story: 
						<% else %>
							Story: 
						<% end %>
					<% end %>
				<% end %>
				<%= link_to text_for_story_link(@image.story), @image.story if @image.story.present? %><br/>
				<%= "Section: "+@image.story.section_name if @image.story.section_name.present? %><br/>
				<%= "Page: "+@image.story.page if @image.story.page.to_i > 0 %>
			</div>

			<div class="image-head">Print Caption:</div>
			<div class="image-info-box indent">
				<% if !@image.media_printcaption.nil? %><%= @image.media_printcaption %><br/><br/><% end %>
				<% if !@image.media_printproducer.nil? %><%= @image.media_printproducer %><br/><% end %>
			</div>

			<div class="image-head">Photographer's Caption:</div>
			<div class="image-info-box indent">
				<% if !@image.media_originalcaption.nil? %><%= @image.media_originalcaption %><br/><br/><% end %>
				<% if !@image.media_byline.nil? %><%= @image.media_byline %><br/><% end %>
			</div>
		
			<div class="image-head">DTI Related Info:</div>
			<div class="image-info-box indent">
				<% if !@image.media_source.nil? %>
					<a class="image-field">Media Name: </a><%= @image.media_name %><br/><% end %>
				<% if !@image.media_source.nil? %>
					<a class="image-field">ID: </a><%= @image.media_id %><br/><% end %>
				<% if !@image.media_source.nil? %>
					<a class="image-field">Original Filename: </a><%= @image.media_source %><br/><% end %>
				<% if !@image.media_width.nil? and !@image.media_height.nil?%>
					<a class="image-field">Image Size: </a><%= @image.media_width %>x<%= @image.media_height %><br/>
				<% end %>

				<% if !@image.media_project_group.nil? %>
					<a class="image-field">Project Group: </a><%= @image.media_project_group %><br/>
				<% end %>
				<% if !@image.media_status.nil? %>
					<a class="image-field">Status: </a><%= @image.media_status %><br/>
				<% end %>
			</div>
		</div>
	<% end %>
	
	<div id="image_edit" class="grid_16">
		<% if admin? || edit? %>
			<%= button_to "Delete Image", story_image_path(@image), 
					:method => :delete, 
					:confirm => "Are you sure you want to delete image from story?",
					:action => 'destroy',
					:class => 'image-delete float_right' %>
		<% end %>
	</div>
</div>
