<% content_for :title do %>
  <%= "#{h @image.media_name} - " if @image.media_name -%>
<% end %>

<div id="image-content" class="grid_15">
	<div class="image-header-bar ">
		<% if !@image.media_name.nil? %><%= @image.media_name %><% end %>
	</div>

	<% if @image.media_type == "PagePDF" %>
		<%= link_to image_tag(@image.image(:large), :alt=>"PagePDF", :class=>"image_medium"), @image.image.url %>
	<% else %>
		<div class="grid_8">
<!--			<%= image_tag(@image.image(:large), :alt=>"Story Image", :class=>"image_large") %> -->
			<%= link_to image_tag(@image.image(:large), :alt=>"PagePDF", :class=>"image_large"), @image.image.url %>
		</div>

		<div class="grid_6">
			<div class="image-head">Print Caption:</div>
			<div class="image-info-box indent">
				<% if !@image.media_printcaption.nil? %><%= @image.media_printcaption %><br/><br/><% end %>
				<% if !@image.media_printproducer.nil? %><%= @image.media_printproducer %><br/><% end %>
			</div>

			<div class="image-head">Original Caption:</div>
			<div class="image-info-box indent full_width">
				<% if !@image.media_originalcaption.nil? %><%= @image.media_originalcaption %><br/><br/><% end %>
				<% if !@image.media_byline.nil? %><%= @image.media_byline %><br/><% end %>
			</div>
		
			<div class="image-head">DTI Related Info:</div>
			<div class="image-info-box indent">
				<% if !@image.media_source.nil? %>
					<a class="image-field">Original Filename: </a><%= @image.media_source %><br/><% end %>
				<% if !@image.media_width.nil? and !@image.media_height.nil?%>
					<a class="image-field">Image Size: </a><%= @image.media_width %>x<%= @image.media_height %><br/>
				<% end %>

				<% if !@image.media_project_group.nil? %>
					<a class="image-field">Project Group: </a><%= @image.media_project_group %><br/>
				<% end %>
				<% if !@image.media_status.nil? %>
					<a class="image-field">Status: </a><%= @image.media_status %><br/>
				<% end %>
			</div>
		</div>
	<% end %>
	
	<div class="grid_14">
		<% if admin? || edit? %>
			<%= button_to "Delete Image", story_image_path(@image), 
					:method => :delete, 
					:confirm => "Are you sure you want to delete image from story?",
					:action => 'destroy',
					:class => 'image-delete' %>
		<% end %>
	</div>
</div>
