<tr>
	<td></td>
	<td><%= table_row.name %></td>	
	<td></td>
	<td>
		<% if table_row.created_at? %>
			<%= table_row.created_at.strftime('%m/%d/%Y') %> at <%= table_row.created_at.strftime('%I:%M%p') %>
		<% end %>
	</td>
	<td>
		<% if table_row.updated_at? %>
			<%= table_row.updated_at.strftime('%m/%d/%Y') %> at <%= table_row.updated_at.strftime('%I:%M%p') %>
		<% end %>
	</td>
	<td class="center"><%= link_to "Edit", edit_location_path(table_row) %>

	<% table_row.plans.each do |plan| %>
		<tr class="location_plans">
			<td></td>
			<td></td>
			<td>
				<%= plan.pub_name %>
				<% if plan.section_name.present? %>- <%= plan.section_name %><% end %>
			</td>
			<td></td>
			<td></td>
			<td class="center"></td>
		</tr>
	<% end %>
</tr>
