<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

		<title><%= yield :title %> Wescom | Archive</title>
		<%= csrf_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width">

	</head>

	<body class="body_defaults">
		<%= render 'shared/header' %>
		<%= render :partial => 'shared/messages' %>
		<div class="content_block">
			<%= yield %>
		</div>

		<%= render 'shared/footer' %>

		<script src="http://circhelpdesk.bendbulletin.com:8123/assets/chat/chat.min.js"></script>
		<script>
		$(function() {
		  new ZammadChat({
		    background: '#2a3743',
		    fontSize: '12px',
		    chatId: 1
		  });
		});
		</script>
	</body>
</html>
