<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= yield :title %> Wescom | Archive</title>

    <%= stylesheet_link_tag '960' %>
    <%= stylesheet_link_tag 'facebox' %>
    <%= stylesheet_link_tag 'jquery-ui.custom.css' %> 
    <%= stylesheet_link_tag 'archive' %>

    <%= javascript_include_tag 'jquery.js' %>
    <%= javascript_include_tag 'jquery-ui.js' %>
    <%= javascript_include_tag 'facebox' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tag %>
  </head>
  <body>
		<div id="container" class="container_16">
		  <div id="page-content" class="clearfix">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
